:root {
  --bs-body-bg: var(--bs-gray-100);
}

#container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#map {
  height: calc(100vh - 60px); /* Adjust the value based on navbar's height */
  width: 100%;
}

.leaflet-control-layers-toggle {
  width: 26px;
  height: 26px;
  background-size: 80%;
}

.leaflet-touch .leaflet-control-layers-toggle {
  width: 30px;
  height: 30px;
  background-size: 80%;
}

// Slider styles
.ui-state-default,
.ui-slider-range {
  background: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}

.ui-slider-vertical {
  width: 1.8em;
}

.ui-slider .ui-slider-handle {
  width: 2.2em;
  height: 2.2em;
}

.ui-slider-vertical .ui-slider-handle {
  margin-bottom: -1.6em;
}

/* Legend style from https://github.com/w8r/esri-leaflet-legend/blob/master/example/css/style.css */

.leaflet-legend-control {
  background: white;
  padding: 1em;
  max-height: 200px;
  max-width: 50vw;
  overflow: auto;
  font:
    12px/1.5 'Helvetica Neue',
    Arial,
    Helvetica,
    sans-serif;
}

.leaflet-legend-control ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.leaflet-legend-control ul li img {
  display: inline-block;
  margin-right: 5px;
}

.leaflet-legend-control ul li span {
  vertical-align: top;
  line-height: 22px;
}

.leaflet-legend-control ul ul {
  margin-left: 15px;
}
